<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      Born and brought up in India, I am currently half way around the world with the opportunity of studying in the U.S.
      I am currently a junior pursuing my Bachelor's of Science in Computer Science at the <a class="underline-link" href="https://www.cs.ucla.edu/" target="_blank">University of California, Los Angeles</a>
      where I have been inducted into the prestigous computer science honor society, <a class="underline-link" href="https://upe.seas.ucla.edu/" target="_blank">Upsilon Pi Epsilon</a>,
      as a result of my academic achievements.
    </p>

    <p>
      As a software engineer, I enjoy solving difficult problems, building the perfect elegant solution, and
      getting to work with other smart people to do something that maybe has never been done.
      I enjoy bridging the gap between engineering and other disciplines &mdash; combining my technical knowledge
      with my passion for giving back to the community. My goal is to use data science to bring novel solutions in
      fields that have not been explored yet.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably playing soccer, at the beach,
      or hanging out with my friends.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
