<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://warriorwellness.me" target="_blank">
          <img src="{{site.baseurl}}/img/featured/dashboard/warriorwellness.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://warriorwellness.me" target="_blank">Warrior Wellness</a>
        </div>
        <p>An intuitive dashboard that serves as a performance dashboard for mental health patients, as part of my work at the eHealth Research Lab.</p>
      </figcaption>
    </div>
    
    <!-- Lotos -->
    <div class="project blistabloc">
      <figure class="project__pic">
        <a href="https://lowellmilkeninstitute.law.ucla.edu/events/programs/lowell-milken-institute-sandler-prize/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/lotos/lotos.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://lowellmilkeninstitute.law.ucla.edu/events/programs/lowell-milken-institute-sandler-prize/" target="_blank">Lotos</a>
        </div>
        <p>Lotos is a company that my team and I pitched as part of a business competition called LMISP hosted by the UCLA Law School.
          Lotos is a interopable Electronic Health Record (EHR) system built for private dental practioners.
          You can read our business plan <a href="https://drive.google.com/file/d/1RHnP5Ng75NCt4kP7qRBay-fTyQF6L7_R/view?usp=sharing" target="_blank">here.</a></p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://github.com/paramshah10/ar-tour-guide" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/tour.AR/loading.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/tour.AR/onboarding.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/tour.AR/info.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/paramshah10/ar-tour-guide" target="_blank">tour.AR</a>
        </div>
        <p>tour.AR is an interactive tour guide app that uses augmented reality to enhance user experience while touring college campuses.</p>
      </figcaption>
    </div>
    <!-- BR3W -->
    <div class="project interventions">
      <figure class="project__pic phones">
        <a href="https://github.com/paramshah10/br3w" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/br3w/loading.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/br3w/home.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/br3w/coffee.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/paramshah10/br3w" target="_blank">BR3W</a>
        </div>
        <p>BR3W is a smart coffee machine that bridges customizability and convenience.</p>
      </figcaption>
    </div>
  </div>
</section>
